# Airymax arm64 defconfig fragment
CONFIG_SECURITY_AIRY=y
CONFIG_AIRY_SYSCALL=y
# CONFIG_BPF_LSM is not set
CONFIG_IO_URING=y
CONFIG_SCHED_DEADLINE=y
# CONFIG_SCHED_CLASS_EXT is not set
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y
CONFIG_EVENTFD=y
CONFIG_DEBUG_INFO_BTF=n
